:root{
    --red: #A52A2A;
    --black: #2D1C06;
    --white: #F0FFFF;
    --yellow: #FFD700;
    --light-yellow: #FFF4B3;
    --header1: 'Righteous', cursive;
    --header2: 'Alata', sans-serif;
    --big: 4em;
    --medium: 3em;
    --small: 2em;
    --mid-small: 1.5em;
    --extra-small: 1em;
    --x-extra-small: 0.8em;
    --large-space: 200px;
    --medium-space: 100px;
    --small-space: 50px;
}
html {
    scroll-behavior: smooth;
}
body {
    padding: 0;
    margin: 0 auto;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px rgba(128,128,128,1); 
    border-radius: 4px;
}
::-webkit-scrollbar-thumb {
    background: rgba(80,80,80,0.5); 
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(80,80,80,1); 
}
.landing {
    height: 100vh;
    width: 100%;
    background: linear-gradient(to bottom, var(--yellow), var(--light-yellow));
    display: inline-block;
    text-align: center;
}
.landing-img {
    position: relative;
    width: 256px;
    height: 256px;
    border: 3px var(--black) double;
    border-radius: 50%;
    margin-top: 2em;
    object-fit: cover;
    object-position: center;
}
.skills-section {
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, var(--light-yellow), var(--white));
    display: inline-block;
}
.project-section {
    height: 100%;
    width: 100%;
    background: var(--white);
    display: inline-block;
}
.project-wrapper1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    transition: transform 0.5s, opacity 0.5s;
}
.project-wrapper2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    transition: transform 0.5s, opacity 0.5s;
}
.project-wrapper3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    transition: transform 0.5s, opacity 0.5s;
}
.project-element {
    align-self: center;
    justify-self: center;
    width: 95%;
    position: relative;
    box-sizing: border-box;
}
.skills-align {
    width: 100%;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    transition: transform 0.3s, opacity 0.5s;
    transform: translateY(-8rem);
}
.skills {
    background: var(--black);
    width: 90%;
    position: absolute;
    top: 85%;
    justify-content: center;
    padding-bottom: 32px;
}
.skills-inner {
    display: flex;
    justify-content: center;
}
.wrap {
    display: inline-block;
    position: relative;
    justify-content: center;
    text-align: center;
    margin: 16px;
}
.skill-icon {
    width: var(--big);
    height: var(--big);
    position: relative;
}
.skill-icon-small {
    width: var(--medium);
    height: var(--medium);
    position: relative;
}
.sosial-icon {
    width: var(--medium);
    height: var(--medium);
    position: relative;
    border-radius: 50%;
    background: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}
.sosial-img{
    height: 50%;
    width: 50%;
}
.sosial-link {
    transition: 0.1s;
}
.sosial-link:hover {
    cursor: pointer;
    opacity: 0.5;
}
.landing-h1 {
    font-family: var(--header1);
    font-size: var(--big);
    color: var(--black);
    text-align: center;
}
.landing-h1-white {
    font-family: var(--header1);
    font-size: var(--big);
    color: var(--white);
    text-align: center;
}
.landing-h2 {
    font-family: var(--header2);
    font-size: var(--small);
    color: var(--black);
    margin-top: -1.5em;
    text-align: center;
}
.white-h3 {
    font-family: var(--header1);
    font-size: var(--small);
    color: var(--white);
    text-align: center;
}
.red-h3 {
    font-family: var(--header1);
    font-size: var(--small);
    color: var(--red);
    text-align: center;
}
.white-skills-p {
    font-family: var(--header2);
    font-size: var(--extra-small);
    color: var(--white);
    margin: 0;
}
.white-sosial-p {
    font-family: var(--header2);
    font-size: var(--extra-small);
    color: var(--white);
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-decoration: underline double 1px;
}
.black-p-header {
    font-family: var(--header2);
    font-size: var(--extra-small);
    color: var(--black);
    text-align: center;
    margin-top: -2em;
}
.black-p-header-small {
    font-family: var(--header2);
    font-size: var(--x-extra-small);
    color: var(--black);
    text-align: center;
    margin-top: -0.1em;
}
.black-p {
    font-family: var(--header2);
    font-size: var(--extra-small);
    color: var(--black);
    text-align: justify;
}
.chr {
    border: 0;
    height: 2px;
    width: 60%;
    background-image: linear-gradient(to right, rgba(240, 255, 255, 0), rgba(240, 255, 255, 0.75), rgba(240, 255, 255, 0));
}
.large-space {
    height: var(--large-space);
}
.medium-space {
    height: var(--medium-space);
}
.small-space {
    height: var(--small-space);
}
.hide {
    opacity: 0;
    transform: translateY(8rem);
}
.pointerIntro{
    position: absolute;
    left:50%;
    transform:translateX(-50%);
    width:48px;
    height:48px;
    bottom: 64px;
    -webkit-animation: pointerIntroMove;
    -moz-animation: pointerIntroMove;
    -ms-animation: pointerIntroMove;
    -o-animation: pointerIntroMove;
    animation: pointerIntroMove;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transition: 0.1s;
}
    @keyframes pointerIntroMove{
        0%{bottom: 64px;}
        10%{bottom: 69px;}
        100%{bottom: 64px;}
    }
    @-moz-keyframes pointerIntroMove{
        0%{bottom: 64px;}
        10%{bottom: 69px;}
        100%{bottom: 64px;}
    }
    @-webkit-keyframes pointerIntroMove{
        0%{bottom: 64px;}
        10%{bottom: 69px;}
        100%{bottom: 64px;}
    }
    @-ms-keyframes pointerIntroMove{
        0%{bottom: 64px;}
        10%{bottom: 69px;}
        100%{bottom: 64px;}
    }
.pointerIntro:hover{
	cursor: pointer;
	opacity: 0.5;
}
#skills-section-id {
    position: absolute;
    top: -190px;
}
.skills-section-margin {
    position: relative;
}
.landing-menu {
    position: absolute;
    display: inline-block;
    top: 8px;
    right: 32px;
}
.landing-menu-item {
    font-family: var(--header2);
    font-size: var(--mid-small);
    color: var(--white);
    margin: 8px;
    text-decoration: underline double 1px;
    transition: 0.1s;
}
.landing-menu-item:hover {
    cursor: pointer;
    opacity: 0.5;
}
.phone-wrapper-right {
    position: absolute;
    top: 0px;
    height: 400px;
    width: 200px;
    border-radius: 30px;
    box-shadow: 4px 8px 16px #000000;
}
.phone-wrapper-right2 {
    z-index: 0;
    position: absolute;
    top: 0px;
    height: 400px;
    width: 200px;
    border-radius: 30px;
    box-shadow: 4px 8px 16px #000000;
}
.phone-wrapper-left {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 400px;
    width: 200px;
    border-radius: 30px;
    box-shadow: 4px 8px 16px #000000;
}
.phone-cover-right-img {
    position: absolute;
    width: 100%;
    height: 100%;
}
.project-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 96%;
    border-radius: 30px;
}
.monitor-wrapper-right {
    position:absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    height: 400px;
    width: 500px;
    border-radius: 30px;
    box-shadow: 6px 12px 24px #000000;
}
.monitor-wrapper-right2 {
    z-index: 0;
    position:absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    height: 400px;
    width: 500px;
    border-radius: 30px;
    box-shadow: 6px 12px 24px #000000;
}
.monitor-cover-right-img {
    position: absolute;
    width: 100%;
    height: 100%;
}
.monitor-wrapper-left {
    position:absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    height: 400px;
    width: 500px;
    border-radius: 30px;
    box-shadow: 6px 12px 24px #000000;
}
.text-wrap {
    padding: 0 10% 0 10%;
}
.btn {
    display: inline-block;
    position: relative;
    margin: 48px 8px 0 8px;
    background-color: var(--red);
    border: none;
    color: var(--white);
    padding: 12px;
    font-family: var(--header2);
    font-size: var(--small);
    box-shadow: 8px 8px 0px var(--black);
    transition: 0.1s;
}
.btn:hover{
    cursor: pointer;
    background-color: rgba(0,0,0,0);
    filter: invert(0.5) sepia(12%) saturate(976%) hue-rotate(338deg) brightness(20%) contrast(90%);
}
.btn-icon {
    float: right;
    clear: both;
    width: var(--mid-small);
    height: var(--mid-small);
    position: relative;
    margin-left: 8px;
}
.btn-icon-small {
    float: right;
    clear: both;
    width: var(--extra-small);
    height: var(--extra-small);
    position: relative;
    margin-left: 16px;
    top: 8px;
}
.btn-yellow {
    display: inline-block;
    position: relative;
    margin: 48px 8px 0 8px;
    background-color: var(--yellow);
    border: none;
    color: var(--white);
    padding: 16px;
    font-family: var(--header2);
    font-size: var(--small);
    box-shadow: 8px 8px 0px var(--black);
    transition: 0.1s;
}
.btn-yellow:hover{
    cursor: pointer;
    background-color: rgba(0,0,0,0);
    filter: invert(0.5) sepia(12%) saturate(976%) hue-rotate(338deg) brightness(20%) contrast(90%);
}
.contact-section{
    position: relative;
    z-index: 1;
    min-height: 100vh;
    background-color: var(--yellow);
}
.input {
    background: none;
    border: none;
    border-bottom: 2px double var(--white);
    color: var(--white);
    font-size: var(--small);
    width: 90%;
    height: var(--small);
    margin: 32px;
    padding: 0px;
    font-family: var(--header2);
    outline: none;
}
::placeholder{
    color: var(--white);
}
.textarea {
    background: none;
    border: none;
    border-bottom: 2px double var(--white);
    color: var(--white);
    font-size: var(--small);
    width: 90%;
    margin: 64px 32px 32px 32px;
    resize: none;
    font-family: var(--header2);
    outline: none;
}
form {
    width: 40%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    border: double 2px var(--white);
    padding: 32px;
}
.footer{
    background-color: var(--red);
    height: 80px;
    width: 100%;
    text-align: center;
    display: grid;
    justify-items:center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}
.footer-icon-wrapper {
    display: inline-block;
    position: relative;
    justify-content: center;
    text-align: center;
    margin: 0 8px 0 8px;
}
.footer-text {
    font-family: var(--header2);
    font-size: var(--x-extra-small);
    color: var(--white);
    margin: 0;
}
.sosial-img-footer {
    height: 28px;
    width: 28px;
}