:root{
    --red: #A52A2A;
    --black: #3C1E11;
    --white: #F0FFFF;
    --yellow: #DAA520;
    --light-yellow: #D2B48C;
    --header1: 'Righteous', cursive;
    --header2: 'Alata', sans-serif;
    --big: 3em;
    --medium-big: 2em;
    --medium: 1.5em;
    --small: 1em;
    --mid-small: 0.9em;
    --extra-small: 0.8em;
    --x-extra-small: 0.7em;
    --xx-extra-small: 0.6em;
    --xxx-extra-small: 0.4em;
    --large-space: 160px;
    --medium-space: 96px;
    --small-space: 48px;
    --extra-small-space: 16px;
    --menu-height: 72px;
}
html {
    scroll-behavior: smooth;
}
body {
    padding: 0;
    margin: 0 auto;
}
a {
    text-decoration: none;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px rgba(128,128,128,1); 
    border-radius: 4px;
}
::-webkit-scrollbar-thumb {
    background: rgba(80,80,80,0.5); 
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(80,80,80,1); 
}
.blur {
    transition: 0.1s;
    filter: blur(1rem);
    -webkit-filter: blur(1rem);
}
.prevent-scroll {
    overflow: hidden;
}
.mobile-menu {
    z-index: 3;
    position: fixed;
    top: 16px;
    right: 16px;
    width: 32px;
    height: 32px;
    background-color: var(--white);
    padding: 4px;
    box-shadow: 4px 4px 0px var(--black);
    border: none;
}
.mobile-menu:hover{
    cursor: pointer;
    opacity: 0.5;
}
.mobile-menu-icon {
    width: 100%;
    height: 100%;
}
.exit-img-mobile {
    position: absolute;
    top: -4px;
    right: -4px;
    height: 48px;
    width: 48px;
}
.exit-img-mobile:hover {
    cursor: pointer;
    opacity: 0.5;
}
.main-menu-icon-mobile {
    position: absolute;
    top: 8px;
    left: 8px;
    height: 64px;
    width: 64px;
}
.main-menu-icon-mobile:hover {
    cursor: pointer;
    opacity: 0.5;
}
@media (min-height: 330px) {
    .mobile-menu-item {
        text-align: left;
        width: 100%;
        font-family: var(--header2);
        font-size: var(--medium-big);
        color: var(--red);
        padding: 16px;
        margin: 8px 0 8px 0;
        background-color: rgba(0,0,0,0.05);
        border: none;
    }
    .mobile-menu-items-margin {
        position: relative;
        margin: 0;
        left: 0;
        width: 100%;
    }
    .mobile-menu-section {
        z-index: 3;
        position: fixed;
        top: 0;
        left: 25%;
        right: 0;
        bottom: 0;
        background-color: var(--white);
        padding: 32px 0px 32px 0px;
        box-shadow: 0px 2px 6px #000000;
        transition: 0.2s;
    }
}
@media (max-height: 330px) {
    .mobile-menu-item {
        width: 100%;
        text-align: left;
        font-family: var(--header2);
        font-size: var(--medium);
        color: var(--red);
        padding: 4px;
        margin: 2px 0 2px 0;
        background-color: rgba(0,0,0,0.05);
        border: none;
    }
    .mobile-menu-items-margin {
        position: relative;
        margin: 0;
        left: 0;
        width: 100%;
    }
    .mobile-menu-section {
        z-index: 3;
        position: fixed;
        top: 0;
        left: 25%;
        right: 0;
        bottom: 0;
        background-color: var(--white);
        padding: 32px 0px 32px 0px;
        box-shadow: 0px 2px 6px #000000;
        transition: 0.2s;
    }
}
@media (min-height: 610px) {
    .white-p {
        font-family: var(--header2);
        font-size: var(--medium);
        color: var(--white);
        text-align: center;
    }
    .center-vertical-align-container {
        position: relative;
        height: 75%;
    }
    .hidden-section-header {
        font-family: var(--header1);
        font-size: var(--big);
        color: var(--white);
        text-align: center;
    }
}
@media (max-height: 609px) and (min-height: 370px) {
    .white-p {
        font-family: var(--header2);
        font-size: var(--small);
        color: var(--white);
        text-align: center;
    }
    .center-vertical-align-container {
        position: relative;
        height: 50%;
    }
    .hidden-section-header {
        font-family: var(--header1);
        font-size: var(--medium);
        color: var(--white);
        text-align: center;
    }
}
@media (max-height: 370px) {
    .white-p {
        font-family: var(--header2);
        font-size: var(--x-extra-small);
        color: var(--white);
        text-align: center;
    }
    .center-vertical-align-container {
        position: relative;
        height: 50%;
    }
    .hidden-section-header {
        font-family: var(--header1);
        font-size: var(--medium);
        color: var(--white);
        text-align: center;
    }
}
.mobile-menu-item:hover {
    cursor: pointer;
    opacity: 0.5;
    background-color: rgba(0,0,0,0);
}
.prevent-selectors {
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
    right: 75%;
    bottom: 0;
}
.hr-mobile {
    margin-top: 48px;
    margin-bottom: 16px;
    margin-left: 0px;
    background-color: var(--white);
    border: none;
    height: 1px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}
.landing {
    height: 100svh;
    height: 100vh;
    width: 100%;
    min-height: 650px;
    background: linear-gradient(to bottom, var(--yellow), var(--light-yellow));
    display: inline-block;
    text-align: center;
 
}
.landing-img {
    position: relative;
    width: 256px;
    height: 256px;
    border: 2px var(--black) double;
    border-radius: 50%;
    margin-top: 2em;
    object-fit: cover;
    object-position: center;
}
.skills-section {
    z-index: 1;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, var(--light-yellow), var(--white));
    display: inline-block;
}
.project-section {
    height: 100%;
    width: 100%;
    background: var(--white);
    display: inline-block;
}
.project-wrapper1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    transition: transform 0.2s, opacity 0.3s;
}
.project-wrapper2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    transition: transform 0.2s, opacity 0.3s;
}
.project-wrapper3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    transition: transform 0.2s, opacity 0.3s;
}
.project-container-inner-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
}
.project-element {
    align-self: center;
    justify-self: center;
    width: 95%;
    position: relative;
    box-sizing: border-box;
}
.center-vertical-align {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
}
@media (min-height: 721px) {
    .skills-align {
        z-index: 2;
        position: relative;
        width: 100%;
        margin-top: 64px;
        margin-bottom: 32px;
        display: inline-block;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        transition: transform 0.2s, opacity 0.3s;
        transform: translateY(-6rem);
    }
    .pointer-intro{
        position: absolute;
        left:50%;
        transform:translateX(-50%);
        width:48px;
        height:48px;
        bottom: 64px;
        -webkit-animation: pointer-intro-move;
        -moz-animation: pointer-intro-move;
        -ms-animation: pointer-intro-move;
        -o-animation: pointer-intro-move;
        animation: pointer-intro-move;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }
}
@media (max-height: 720px) {
    .skills-align {
        z-index: 2;
        position: relative;
        width: 100%;
        display: flex;
        margin-top: 32px;
        margin-bottom: 32px;
        justify-content: center;
        align-items: center;
        padding: 0;
        transition: transform 0.2s, opacity 0.3s;
        transform: translateY(-2rem);
    }
    .pointer-intro {
        display: none;
    }
}

.skills {
    background: var(--black);
    width: 95%;
    position: absolute;
    top: 85%;
    justify-content: center;
    padding-bottom: 32px;
}
.skills-inner-project-element {
    display: flex;
    justify-content: center;
}
.skills-inner {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 0px 10% 0px 10%;
}
@media (max-height: 500px) {
    .remove-on-height {
        display: none !important;
    }
    .white-p-header { 
        display: none !important;
    }
}
.white-p-header {
    font-family: var(--header2);
    font-size: var(--extra-small);
    color: var(--white);
    text-align: center;
    margin-top: -1.5em;
}
.skills-inner-phone {
    text-align: center;
    position: relative;
}
.remove-on-phone {
    display: none !important;
}
@media (min-width: 330px) {
    .wrap {
        display: inline-block;
        position: relative;
        justify-content: center;
        text-align: center;
        margin: 16px 8px 0px 8px;
    }
}
@media (max-width: 330px) {
    .wrap {
        display: inline-block;
        position: relative;
        justify-content: center;
        text-align: center;
        margin: 16px 4px 0px 4px;
    }
}
.pointer-intro:hover {
    cursor: pointer;
    opacity: 0.5;
}
.wrap-phone {
    display: inline-block;
    justify-content: center;
    text-align: center;
    margin: 8px;
}
.skill-icon {
    width: var(--big);
    height: var(--big);
    position: relative;
}
.skill-icon-small {
    width: var(--big);
    height: var(--big);
    position: relative;
}
.sosial-icon {
    width: var(--big);
    height: var(--big);
    position: relative;
    border-radius: 50%;
    background: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}
.sosial-img{
    height: 50%;
    width: 50%;
}
.sosial-link:hover {
    cursor: pointer;
    opacity: 0.5;
}
.landing-h1 {
    font-family: var(--header1);
    font-size: var(--big);
    color: var(--black);
    text-align: center;
    margin-left: 4px;
    margin-right: 4px;
}
.landing-h1-white {
    font-family: var(--header1);
    font-size: var(--big);
    color: var(--white);
    text-align: center;
}
.landing-h2 {
    font-family: var(--header2);
    font-size: var(--small);
    color: var(--black);
    margin-top: -1.5em;
    margin-left: 4px;
    margin-right: 4px;
    text-align: center;
}
.white-h3 {
    font-family: var(--header1);
    font-size: var(--small);
    color: var(--white);
    text-align: center;
}
.white-skills-p {
    font-family: var(--header2);
    font-size: var(--extra-small);
    color: var(--white);
    margin: 0;
}
.white-sosial-p {
    font-family: var(--header2);
    font-size: var(--extra-small);
    color: var(--white);
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-decoration: underline double 1px;
}

.black-p-header-small {
    font-family: var(--header2);
    font-size: var(--x-extra-small);
    color: var(--black);
    text-align: center;
    margin-top: -0.1em;
}
.white-p-header-small {
    font-family: var(--header2);
    font-size: var(--x-extra-small);
    color: var(--white);
    text-align: center;
    margin-top: -0.1em;
}
.black-p {
    font-family: var(--header2);
    font-size: var(--small);
    color: var(--black);
    text-align: justify;
}
.chr {
    border: 0;
    height: 2px;
    width: 60%;
    background-image: linear-gradient(to right, rgba(240, 255, 255, 0), rgba(240, 255, 255, 0.75), rgba(240, 255, 255, 0));
}
.large-space {
    height: var(--large-space);
}
.medium-space {
    height: var(--medium-space);
}
.small-space {
    height: var(--small-space);
}
.extra-small-space {
    height: var(--extra-small-space);
}
.hide {
    opacity: 0;
    transform: translateY(8rem);
}
.hide-menu {
    opacity: 0;
    transform: translateY(-8rem);
}
.hide-info {
    opacity: 0;
    transform: translateY(8rem);
}
.hide-mobile {
    transform: translateX(100vw);
}

    @keyframes pointer-intro-move{
        0%{bottom: 64px;}
        10%{bottom: 69px;}
        100%{bottom: 64px;}
    }
    @-moz-keyframes pointer-intro-move{
        0%{bottom: 64;}
        10%{bottom: 69px;}
        100%{bottom: 64;}
    }
    @-webkit-keyframes pointer-intro-move{
        0%{bottom: 64px;}
        10%{bottom: 69px;}
        100%{bottom: 64px;}
    }
    @-ms-keyframes pointer-intro-move{
        0%{bottom: 64px;}
        10%{bottom: 69px;}
        100%{bottom: 64px;}
    }
.pointer-intro:hover{
	cursor: pointer;
	opacity: 0.5;
}
#skills-section-id {
    position: absolute;
    top: -190px;
}
.skills-section-margin {
    position: relative;
}
.landing-menu {
    display: none;
}
.landing-menu-item {
    font-family: var(--header2);
    font-size: var(--mid-small);
    color: var(--white);
    margin: 8px;
    text-decoration: underline double 1px;
}
.landing-menu-item:hover {
    cursor: pointer;
    opacity: 0.5;
}
.main-menu-back {
    z-index: 4;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: var(--menu-height);
    background-color: var(--white);
    box-shadow: 0px 2px 4px rgba(0,0,0,0.25);
    transition: transform 0.2s, opacity 0.3s;
}
.main-menu {
    position: absolute;
    display: inline-block;
    top: 6px;
    right: 32px;
}
.main-menu-item {
    font-family: var(--header2);
    font-size: var(--extra-small);
    color: var(--black);
    margin: 8px;
    text-decoration: underline double 1px;
}
.main-menu-item:hover {
    cursor: pointer;
    opacity: 0.5;
}
.main-menu-icon {
    width: 96px;
    height: 96px;
}
.main-menu-icon:hover {
    cursor: pointer;
    opacity: 0.5;
}
.main-menu-icon-margin {
    display: inline-flex;
    margin: 12px 0 0 32px;
}
.nobtn {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    background: 0;
    border: none;
}
.nobtnMargin {
    display: inline-flex;
    padding: 0;
    background: 0;
    border: none;
    margin-top: 0;
    margin-bottom: 0;
    position: absolute;
    top: 16px;
    right: 16px;
}
.phone-wrapper-right {
    position: absolute;
    margin-top: 100px;
    height: 150px;
    width: 75px;
    border-radius: 15px;
    box-shadow: 2px 4px 8px #000000;
}
.phone-wrapper-right2 {
    z-index: 0;
    position: absolute;
    top: 0px;
    height: 400px;
    width: 250px;
    border-radius: 30px;
    box-shadow: 2px 4px 8px #000000;
}
.phone-wrapper-left {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 400px;
    width: 200px;
    border-radius: 30px;
    box-shadow: 2px 4px 8px #000000;
}
.phone-wrapper-left-project-container-inner {
    display: none !important;
}
.phone-cover-right-img {
    position: absolute;
    width: 100%;
    height: 100%;
}
.project-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    height: 90%;
    border-radius: 15px;
    box-shadow: 3px 10px 12px #000000;
}
.monitor-wrapper-right {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 15px;
    box-shadow: 4px 8px 12px #000000;
}
.monitor-wrapper-phone {
    position: relative;
    display: inline-block;
    margin-top: 16px;
    margin-bottom: 24px;
    height: 100%;
    width: 90%;
    border-radius: 15px;
}
.monitor-wrapper-right2 {
    z-index: 0;
    position:absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    height: 400px;
    width: 500px;
    border-radius: 30px;
    box-shadow: 3px 6px 12px #000000;
}
.monitor-cover-right-img {
    position: relative;
    width: 100%;
    height: 100%;
}
.monitor-wrapper-left {
    position:absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    height: 400px;
    width: 500px;
    border-radius: 30px;
    box-shadow: 3px 6px 12px #000000;
}
.btn {
    display: inline-block;
    position: relative;
    margin: 16px 8px 0 8px;
    background-color: var(--red);
    border: none;
    color: var(--white);
    padding: 12px 24px 12px 24px;
    font-family: var(--header2);
    font-size: var(--small);
    box-shadow: 8px 8px 0px var(--black);
}
.btn:hover{
    cursor: pointer;
    background-color: rgba(0,0,0,0);
    filter: invert(0.5) sepia(12%) saturate(976%) hue-rotate(338deg) brightness(20%) contrast(90%);
}

.btn-project-container-inner:hover{
    cursor: pointer;
    background-color: rgba(0,0,0,0);
}
.btn-icon {
    float: right;
    clear: both;
    width: var(--medium);
    height: var(--medium);
    position: relative;
    margin-left: 8px;
}
.btn-icon-small {
    float: right;
    clear: both;
    width: var(--medium);
    height: var(--medium);
    position: relative;
    margin-left: 16px;
}
.btn-yellow {
    display: inline-block;
    position: relative;
    margin: 64px 8px 24px 8px;
    background-color: var(--yellow);
    border: none;
    color: var(--white);
    padding: 16px;
    font-family: var(--header2);
    font-size: var(--medium);
    box-shadow: 8px 8px 0px var(--black);
}
.btn-yellow:hover{
    cursor: pointer;
    background-color: rgba(0,0,0,0);
    filter: invert(0.5) sepia(12%) saturate(976%) hue-rotate(338deg) brightness(20%) contrast(90%);
}
.contact-section{
    position: relative;
    z-index: 1;
    min-height: 100vh;
    background-color: var(--yellow);
}
.input {
    background: none;
    border: none;
    border-bottom: 2px double var(--white);
    color: var(--white);
    font-size: var(--small);
    width: 80%;
    height: var(--small);
    margin: 32px 16px 32px 16px;
    padding: 8px;
    font-family: var(--header2);
    outline: none;
}
::placeholder{
    color: var(--white);
}
.textarea {
    background: none;
    border: none;
    border-bottom: 2px double var(--white);
    color: var(--white);
    font-size: var(--small);
    width: 80%;
    margin: 32px 16px 32px 16px;
    padding: 8px;
    resize: none;
    font-family: var(--header2);
    outline: none;
}
form {
    width: 45%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    border: double 2px var(--white);
    padding: 32px;
}
.footer{
    background-color: var(--red);
    height: 80px;
    width: 100%;
    text-align: center;
    display: grid;
    justify-items:center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}
.footer-icon-wrapper {
    display: inline-block;
    position: relative;
    justify-content: center;
    text-align: center;
    margin: 0 4px 0 4px;
}
.footer-text {
    font-family: var(--header2);
    font-size: var(--extra-small);
    color: var(--white);
    margin-left: 4px;
}
.sosial-img-footer {
    height: 20px;
    width: 20px;
}
.about {
    position: fixed;
    z-index: -1;
    top: 16px;
    left: 16px;
    bottom: 16px;
    right: 16px;
    background-color: rgba(0,0,0,0.8);
    transition: 0.2s;
    padding: 0 5% 0 5%;
}
.projects {
    position: fixed;
    z-index: -1;
    top: 16px;
    left: 16px;
    bottom: 16px;
    right: 16px;
    background-color: rgba(0,0,0,0.8);
    transition: 0.2s;
}
.exit-img {
    height: 32px;
    width: 32px;
}
.exit-img:hover {
    cursor: pointer;
    opacity: 0.5;
}
.exit-img-inner {
    height: 32px;
    width: 32px;
}
.exit-img-inner:hover {
    cursor: pointer;
    opacity: 0.5;
}
@media (min-height: 400px) {
    .project-container {
        margin: 0px 2px 0px 2px;
        padding: 0 8px 8px 8px;
        width: 90%;
        min-height: 200px;
        box-shadow: 2px 2px 4px #000000;
        background-color: rgba(240,255,255,0.65);
    }
    .image-project-section {
        position: relative;
        width: 100%;
    }
    .text-wrap {
        padding: 0 5% 0 5%;
    }
    .white-p-projects-container {
        font-family: var(--header2);
        font-size: var(--extra-small);
        color: var(--white);
        text-align: justify;
    }
    .btn-project-container-inner {
        display: inline-block;
        position: relative;
        margin: 4px 8px 0 8px;
        background-color: var(--red);
        border: none;
        color: var(--white);
        padding: 12px;
        font-family: var(--header2);
        font-size: var(--small);
        box-shadow: 8px 8px 0px var(--white);
    }
}
@media (max-height: 399px) {
    .project-container {
        margin: 0px 2px 0px 2px;
        padding: 0 8px 8px 8px;
        width: 90%;
        box-shadow: 2px 2px 4px #000000;
        background-color: rgba(240,255,255,0.65);
    }
    .image-project-section {
        display: none;
    }
    .text-wrap {
        padding: 0 2% 0 2%;
        line-height: 1;
    }
    .white-p-projects-container {
        font-family: var(--header2);
        font-size: var(--xxx-extra-small);
        color: var(--white);
        text-align: justify;
    }
    .btn-project-container-inner {
        display: inline-block;
        position: relative;
        margin: 2px 8px 0 8px;
        background-color: var(--red);
        border: none;
        color: var(--white);
        padding: 2px;
        font-family: var(--header2);
        font-size: var(--extra-small);
    }
}

@media (max-height: 700px) {
    .all-projects {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        transition: 0.2s;
        justify-content: space-evenly;
        justify-items: center;
        align-content: space-evenly;
        align-items: center;
    }
    .red-h3 {
        font-family: var(--header1);
        font-size: var(--extra-small);
        color: var(--red);
        text-align: center;
    }
    .black-p-header {
        font-family: var(--header2);
        font-size: var(--xx-extra-small);
        color: var(--black);
        text-align: center;
        margin-top: -1.5em;
    }
    .monitor-wrapper-left-project-container-inner {
        display: none !important;
    }
}
@media (min-height: 701px) {
    .all-projects {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        transition: 0.2s;
        justify-content: space-evenly;
        justify-items: center;
        align-content: space-evenly;
        align-items: center;
    }
    .red-h3 {
        font-family: var(--header1);
        font-size: var(--small);
        color: var(--red);
        text-align: center;
    }
    .black-p-header {
        font-family: var(--header2);
        font-size: var(--x-extra-small);
        color: var(--black);
        text-align: center;
        margin-top: -1.5em;
    }
    .monitor-wrapper-left-project-container-inner {
        position: relative;
        margin: 8px auto;
        width: 30%;
        border-radius: 30px;
        box-shadow: 3px 6px 12px #000000;
    }
}
@media (min-height: 571px) {
    .project-sort {
        position: relative;
        margin-left: 8px;
    }
}
@media (max-height: 570px) {
    .project-sort {
        display: none !important;
    }
}
.project-container:hover {
    opacity: 0.5;
    cursor: pointer;
}
.wrap-project-section {
    display: inline-block;
    position: relative;
    justify-content: center;
    text-align: center;
    margin: 4px;
}
.skill-icon-project-section {
    width: var(--small);
    height: var(--small);
    position: relative;
}
.project-info {
    position: fixed;
    z-index: -2;
    top: 32px;
    left: 32px;
    bottom: 32px;
    right: 32px;
    background-color: rgba(0,0,0,0.8);
    transition: 0.2s;
}

.white-p-mid {
    font-family: var(--header2);
    font-size: var(--small);
    color: var(--white);
    text-align: center;
}
.black-small-text {
    font-family: var(--header2);
    font-size: var(--x-extra-small);
    color: var(--black);
    margin: 0;
}
.white-p-extra-small {
    font-family: var(--header2);
    font-size: var(--x-extra-small);
    color: var(--white);
    text-align: center;
    margin-top: -0.1em;
}
.wrap-projects-sort {
    display: inline-block;
    position: relative;
    justify-content: center;
    text-align: center;
    margin: 32px 4px 4px 4px;
}
.wrap-projects-sort:hover {
    opacity: 0.5;
    cursor: pointer;
}
.white-p-projects-section {
    position: absolute;
    font-family: var(--header2);
    font-size: var(--extra-small);
    color: var(--white);
    margin: 8px;
}
.de-select {
    opacity: 0.25;
}
.element-guard {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}
.popup {
    position: relative;
}
.popup-inner {
    transition: 0.2s;
    position: fixed;
    background-color: var(--red);
    z-index: 2;
    padding: 48px 32px 16px 32px;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.loading {
    transition: 0.2s;
    position: fixed;
    z-index: 6;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
.page-loader {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: var(--yellow);
    z-index: 5;
    transition: 0.5s;
}